{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
</style>	
<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br>
				<a href="#" id="download-button" class="btn-large waves-effect" style="background-color: #03262C;">
					Destaque
				</a>
			</div>
			<br><br>
		</div>
	</div>
	<div class="parallax"><img src="{% static 'admin/img/logo.jpg' %}" alt="Logo Marca do ForAll"></div>
</div>
<div class="container"></div>
</div>
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<div class="col s12">
					<div class="col s1"></div>
					<div class="col s12">
						<p class="breadcrumb-item">
							<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
							<i class="fas fa-angle-right"></i>
							O álbum mais aclamado do King Crimson
						</p>
						<h1 class="titulo">O álbum mais aclamado do King Crimson</h1>
						<h2 class="subtitulo">"In the court of the crimson king"</h2>
						<br>
						<p style="font-family: Times New Roman;font-size: 17px;text-align: justify;color: gray">

							&nbsp;&nbsp;&nbsp;&nbsp;É um consenso que alguns amantes da boa música, em especifico o do Rock and Roll, dizem que o ano de 1969 foi um ano fértil para do gênero.  Vários álbuns foram lançados neste ano, e digamos de passagem bandas clássicas deleitaram sua criatividade neste período. Contudo iremos mostra nestas breves linhas um álbum fenomenal, de uma banda chamada
 			                            <a href="https://www.youtube.com/c/kingcrimson" target="_blank">King Crimson</a>, sendo o álbum em questão o poético In Court of the Crimson King. <br><br>
							<img src="{% static 'admin/img/kingC.png' %}" alt="Banda King Crimson" style="width: 400px%;height: 100%;border-radius: 5px;">
							<br>
							<b>In Court of the Crimson King</b>, foi o álbum de estreia do King Crimson.  Lançado em 10 de outubro de 1969 pela Island Records, junto com o On the Threshold of a Dream da banda The moody blues, são considerados os primeiros álbuns que mais influenciaram o rock progressivo, ambos com pitadas de jazz, música clássica e sinfônica. O In Court of the Crimson King com as faixas 21st Century Schizoid Man, I talk to the Wind, Moonchild, a faixa título The Count of the Crimson King e Epitaph alcançou a quinta posição na parada Inglesa, e também o número 28 na Billboard dos EUA, sendo ouro pela Recording Industry Association of America. O álbum foi reeditado em vários anos, mas no aniversário de 40° foi lançado com mixagens e efeitos diversos. <br>
							<b>Integrantes:</b> <br> 
							Robert Fripp – Guitarrista <br>
							Michael Giles – bateria, percussão, vocais secundários, produção. <br>
							Greg Lake – vocal, guitarra baixo, produção. <br>
							Ian McDonald – instrumentos de sopro (saxofone, flauta, clarinete, clarinete baixo), teclados ( Mellotron, cravo , de piano , órgão ), vibrafone, backing vocals, produção 
							Peter Sinfield – letra, iluminação, produção. <br><br>
							<b>Letras do Álbum</b><hr><br>
						</p>
						<div class="col s12 m6 l3">
							<p style="font-family: Times New Roman;font-size: 15px;text-align: left;color: gray;text-align: left">
								<b>21st Century Schizoid Man</b><br>

								Cat’s foot iron claw 
								Neurosurgeons scream for more 
								At paranoia’s poison door 
								Twenty first century schizoid man 

								Blood rack, barbed wire 
								Politicians’ funeral pyre 
								Innocents raped with napalm fire 
								Twenty first century schizoid man 

								Death seed blind man’s greed 
								Poets starving, children bleed 
								Nothing he’s got he really needs 
								Twenty first century schizoid man 

								Compositores: Robert Fripp / Michael Rex Giles / Greg Lake / Ian Mcdonald / Peter John Sinfield <br>
								<br>
								<b>Moonchild</b><br> 

								Dancing in the shallows of a river 
								Lonely moonchild 
								Dreaming in the shadow 
								Of the willow. 

								Talking to the trees of the 
								Cobweb strange 
								Sleeping on the steps of a fountain 
								Waving silver wands to the 
								Night-birds song 
								Waiting for the sun on the mountain. 

								She’s a moonchild 
								Gathering the flowers in a garden. 
								Lovely moonchild 
								Drifting on the echoes of the hours. 

								Sailing on the wind 
								In a milk white gown 
								Dropping circle stones on a sun dial 
								Playing hide and seek 
								With the ghosts of dawn 
								Waiting for a smile from a sun child 

								Compositores: Robert Fripp / Petter John Sinfield / Greg Lake / Ian Mcdonald / Michael Rex Giles 
							</p>
						</div>
						<div class="col s12 m6 l3">
							<p style="font-family: Times New Roman;font-size: 15px;text-align: left;color: gray;text-align: left">
								<b>Epitaph</b><br> 

								The wall on which the prophets wrote 
								Is cracking at the seams 
								Upon the instruments of death 
								The sunlight brightly gleams 
								When every man is torn apart 
								With nightmares and with dreams 
								Will no one lay the laurel wreath 
								When silence drowns the screams 

								Confusion will be my epitaph 
								As I crawl a cracked and broken path 
								If we make it, we can all sit back and laugh 
								But I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 

								Between the iron gates of fate 
								The seeds of time were sown 
								And watered by the deeds of those 
								Who know and who are known 
								Knowledge is a deadly friend 
								If no one sets the rules 
								The fate of all mankind, I see 
								Is in the hands of fools 

								The wall on which the prophets wrote 
								Is cracking at the seams 
								Upon the instruments of death 
								The sunlight brightly gleams 
								When every man is torn apart 
								With nightmares and with dreams 
								Will no one lay the laurel wreath 
								When silence drowns the screams 

								Confusion will be my epitaph 
								As I crawl, a cracked and broken path 
								If we make it, we can all sit back and laugh 
								But I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Crying, crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Yes, I fear, tomorrow, I’ll be crying 
								Crying 

								Compositores: Greg Lake / Ian Mcdonald / Michael Rex Giles / Peter John Sinfield / Robert Fripp 
							</p>
						</div>
						<div class="col s12 m6 l3">
							<p style="font-family: Times New Roman;font-size: 15px;text-align: left;color: gray;text-align: left">
								<b>I Talk to the Wind</b><br> 

								Said the straight man to the late man 
								Where have you been 
								I’ve been here and I’ve been there 
								And I’ve been in between 

								I talk to the wind 
								My words are all carried away 
								I talk to the wind 
								The wind does not hear 
								The wind cannot hear 

								I’m on the outside looking inside 
								What do I see 
								Much confusion, disillusion 
								All around me 

								I talk to the wind 
								My words are all carried away 
								I talk to the wind 
								The wind does not hear 
								The wind cannot hear 

								You don’t possess me 
								Don’t impress me 
								Just upset my mind 
								Can’t instruct me or conduct me 
								Just use up my time 

								I talk to the wind 
								My words are all carried away 
								I talk to the wind 
								The wind does not hear 
								The wind cannot hear 

								I talk to the wind 
								My words are all carried away 
								I talk to the wind 
								The wind does not hear 
								The wind cannot hear 

								Said the straight man to the late man 
								Where have you been 
								I’ve been here and I’ve been there and 
								I’ve been in betwee <br>
								<br>
							</p>
						</div>
						<div class="col s12 m6 l3">
							<p style="font-family: Times New Roman;font-size: 15px;text-align: left;color: gray;text-align: left">
								<b>The Court of the Crimson King</b><br> 
								The rusted chains of prison moons 
								Are shattered by the sun 
								I walk a road horizons change 
								The tournament’s begun 
								The purple piper plays his tune 
								The choir softly sing 
								Three lullabies in an ancient tongue 
								For the court of the crimson king 

								The keeper of the city keys 
								Puts shutters on the dreams 
								I wait outside the pilgrim’s door 
								With insufficient schemes 
								The black queen chants the funeral march 
								The cracked brass bells will ring 
								To summon back the fire witch 
								To the court of the crimson king 

								The gardener plants an evergreen 
								Whilst trampling on a flower 
								I chase the wind of a prism ship 
								To taste the sweet and sour 
								The pattern juggler lifts his hand 
								The orchestra begin 
								As slowly turns the grinding wheel 
								In the court of the crimson king 

								On soft grey mornings widows cry 
								The wise men share a joke 
								I run to grasp divining signs 
								To satisfy the hoax 
								The yellow jester does not play 
								But gently pulls the strings 
								And smiles as the puppets dance 
								In the court of the crimson king 

								Compositores: Greg Lake / Ian Mcdonald / Michael Rex Giles / Peter John Sinfield / Robert Fripp 
							</p>
						</div>

					</div>
				</div>
			</div>
			<!-- RECOMENDAÇÕES -->
			<div class="col s12">
				<br><br>
			</div>
			<div>
				<br><br>
				<p style="padding: 0px;margin: 0px;font-size: 25px;font-family: Times New Roman;">
					<br>
					Recomendados
					<hr>
				</p>
				<br>
			</div>
			<div class="col s12 m6 l3">
				<a href="{% url 'son-house'%}"><img src="{% static 'admin/img/son-house.png'%}" alt="Cantor Son House" style="width: 100%;border-radius: 5px;height: 185px;"></a>
			</div>
			<div class="col s12 m6 l3">
				<a href="{% url 'tutorial'%}"><img src="{% static 'admin/img/modd.jpg' %}" alt="Banda The Moddy Blues" style="width: 100%;border-radius: 5px;height: 185px;"></a>
			</div>
			<div class="col s12 m6 l3">
				<a href="{% url 'destaque'%}"><img src="{% static 'admin/img/jeff.png'%}" alt="Cantor Jeff Buckley" style="width: 100%;border-radius: 5px;height: 185px;"></a>
			</div>
			<div class="col s12 m6 l3">
				<a href="{% url 'breve-historia'%}"><img src="{% static 'admin/img/thin.jpg'%}" alt="Banda Thin Lizzy" style="width: 100%;border-radius: 5px;height: 185px;"></a>
			</div>
			<!-- FIM -->
		</div>
	</div>
</div>
</div>
{%endblock%}