{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
</style>
<div id="index-banner" class="parallax-container">
	<div class="section no-pad-bot">
		<div class="container">
			<div class="row center">
				<br>
				<a href="#" id="download-button" class="btn-large waves-effect" style="background-color: #03262C;">Nossa Loja</a>
			</div>
			<br><br>
		</div>
	</div>
	<div class="parallax"><img src="{% static 'admin/img/logo.jpg' %}" alt="Logo ForAll"></div>
</div>
<div class="container"></div>
</div>
<div class="container">
	<div class="section">
		<div class="row">
			<h1 class="titulo">Loja ForAll</h1>
			<p style="font-family: Times New Roman;font-size: 17px;"><i class="material-icons">local_grocery_store</i>A loja <b>ForAll</b> só esta em operação no Estado do RN, especificamente nas áreas metropolitanas de <b>Natal-RN</b>.
				<hr>
			</p>
			{% for l in loja%}
			<div class="col s12 m4">
				<div class="card">
					<div class="card-image">
						<a href="/detalhe-produto/{{l.id}}"><img src="{{l.produto_image.url}}" height="170px"></a>
						<p class="card-title" style="color: rgb(255, 129, 0);font-family: Times New Roman;font-weight: bold;font-size: 20px;">{{l.produto_nome}}&nbsp;R${{l.preco_produto}}</p>
						<a href="/detalhe-produto/{{l.id}}" class="btn-floating halfway-fab waves-effect" style="background-color:  #03262C";><i class="material-icons">local_grocery_store</i></a>
					</div>
					<div class="card-content">
						<p style="font-family: Times New Roman;"><i class="material-icons">person_pin</i>{{l.dono}}</p><br>
						<p style="font-family: Times New Roman;"><i class="material-icons">format_size</i>
							{{l.descricao|truncatewords:3}}...
						</p>
						<br>
						<a href="/detalhe-produto/{{l.id}}"><button class="btn waves-effect waves-light" type="submit" name="action" style="background-color:  #03262C">Compra
							<i class="material-icons right">shopping_basket</i>
						</button></a>
					</div>
				</div>
			</div>
			{% endfor%}
			<br>
			<!-- RECOMENDAÇÕES -->	
		</div>
	</div>
</div>
</div>
{%endblock%}