{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
<title>
{% block title %}ForAll - Redação Conheça 5 Bandas Islandesas.{% endblock%}
</title>
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
	.Texto{font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;padding: 0;margin: 0;}
	.relacionados{font-family: Times New Roman;font-size: 17px;font-weight: bold;color: #03262C;}
	.image-relacionados{width: 23%;height: 60px;border-radius: 5px;padding: 0px;}
	.texto-relacionados{font-family: Times New Roman;font-size: 14px;float: right;margin-top: -15px;margin: 0;color: gray;}
	.img-principal{width: 100%;height: 400px;border-radius: 3px;}
	#img-pequena{width: 50px;height: 50px;border-radius: 30px;}
</style>

<div class="container-fluid">
	<!-- CONTAINER PARA PROPAGANDAS -->
	<br><br>
	<div class="row">
		<div class="col s12 m6 l3"></div>
		<div class="col s12 m12 l6">
			
		</div>
		<div class="col s12 m6 l3">
			
		</div>
	</div>
</div><br>

<div class="container-fluid">
	<div class="row">
		<div class="col s12 m4 l3">
			<p class="relacionados">Relacionados</p>
			<a href="{% url 'power-metal-bandas' %}"><img src="{% static 'img/powermetal/helloween.jpg'%}" class="image-relacionados" alt="Banda de Power Metal">
			</a>
			<a href="{% url 'power-metal-bandas' %}" style="color: black;">
				<p class="texto-relacionados">
					5 bandas de Power Metal alemão que <br>você tem que conhecer.
				</p>
			</a><br><br>
			<a href="{% url 'Redacao_reportagem' %}"><img src="{% static 'img/bandas.jpg'%}" alt="Banda de Punk Rock Hardcore" class="image-relacionados">
			</a>
			<a href="{% url 'Redacao_reportagem' %}" style="color: black;">
				<p class="texto-relacionados">
					Bandas que você tem que conhecer.
				</p>
			</a>			
		</div>
		<!-- CONTEÚDO -->
		<div class="col s12 m4 l6">
			<p class="breadcrumb-item">
				<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
				<i class="fas fa-angle-right"></i>
				Conheça 5 Bandas da Islandesas
			</p>
			<br>
			<h1 class="titulo">Conheça 5 Bandas da Islandesas</h1>
			<br>
			<p class="Texto">
				ForAll | Redação<br><br>
				Agent fresco<br><br>
				<span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">É</span> uma banda islandesa que combina pop, alternativo, art e metal. A banda se formou no ano de 2008, em meio uma competição entre banda, ao qual eles venceram. Seu primeiro trabalho foi o EP Lighbuld Universe que foi vencedor do prêmio Kraumur Awards. No ano de 2010, eles lançaram o primeiro álbum chamado <b>A Long Time Listening</b> e o segundo <b>Destrier</b> no ano de 2015.
				<div class="row">
					<div class="col s12"></div>
					<div class="col s12 m4 l1"></div>
					<div class="col s12 m4 l10">
						<img class="img-principal" src="{% static 'img/Bandas_Islandia/AgentFresco.jpg' %}" alt="Banda Agent Fresco">
						<p class="Texto">Divulgação : Facebook</p>
					</div>
					<div class="col s12 m4 l1"></div>
				</div>
			</p>
			<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
				<li class="tab Texto"><a href="#test0"><i class="fa fa-users"></i>&nbsp;Membros</a></li>
				<li class="tab Texto"><a href="#test1"><i class="fa fa-record-vinyl"></i>&nbsp;Discografia</a></li>
			</ul>
			<div id="test0" class="col s12">
				<p class="Texto">
					<i class="fa fa-microphone-alt"></i>&nbsp;Arnór Dan Arnarson - vocais, teclados <br> 
					<i class="fa fa-drum"></i>&nbsp;Hrafnkell Örn Guðjónsson - bateria, percussão <br>
					<i class="fa fa-guitar"></i>&nbsp;Vignir Rafn Hilmarsson - contrabaixo <br>
					<i class="fa fa-guitar"></i>&nbsp;Þórarinn Guðnason - Violão, piano, programação
				</p>
				<br>
			</div>
			<div id="test1" class="col s12">
				<p class="Texto"><br>
					<img class="materialboxed" id="img-pequena" src="{% static 'img/Bandas_Islandia/AgentFrescoAlongTimeListening.jpg' %}" alt="Álbum Time Listening">A long time listening - 2010<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/AgenteFrescoDestrier.jpg' %}" alt="Álbum Destrier" class="materialboxed">Destrier - 2015
					<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/AgentFrescoDestrier.jpg' %}" alt="Álbum Agent Fresco Destrier" class="materialboxed">Destrier - Live in Reykjavík - 2018
				</p>
			</div><br>
			<p class="Texto">
				Changer<br><br>
				<span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">É</span> uma banda deThrash Metal e Death Metal. banda se formou em outubro de 1999 na cidade de Akureyri na islãndia, pela batuta do baterista Kristján B. Heiðarsson como um projeto de um homem só. Kristján gravou seu álbum de estréia chamado "Janeiro 109" no ano 2000. O responsavél pela produção foi seu amigo Aðalsteinn Már Björnssson que infelizmente sofreu um acidente de carro, mas o álbum foi lançado em 29 de fevereiro de 2000. <br><br>
				No ano de 2000, o baterista Kristján decidiu monta uma banda completa, e assim fazendo shows na Islândia no ano 2001, com isso a banda voltou para a cidade de Akureyri para gravar um EP Inconsistency que contava com duas músicas do trabalho de álbum "Janeiro 109", e assim lançado em 2001.
				<div class="row">
					<div class="col s12"></div>
					<div class="col s12 m4 l1"></div>
					<div class="col s12 m4 l10">
						<img class="img-principal" src="{% static 'img/Bandas_Islandia/changerBand.jpg' %}" alt="Banda Changer">
						<p class="Texto">Divulgação : Facebook</p>
					</div>
					<div class="col s12 m4 l1"></div>
				</div>
			</p>
			<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
				<li class="tab Texto"><a href="#test3"><i class="fa fa-users"></i>&nbsp;Membros em 2020</a></li>
				<li class="tab Texto"><a href="#test4"><i class="fa fa-record-vinyl"></i>&nbsp;Discografia</a></li>
			</ul>
			<div id="test3" class="col s12">
				<p class="Texto">
					<i class="fa fa-drum"></i>&nbsp;Kristján B. Heiðarsson - Bateria<br>
					<i class="fa fa-guitar"></i>&nbsp;Hörður "Hudson" Halldórsson - Guitarra
				</p>
				<br><br>
			</div>
			<div id="test4" class="col s12">
				<p class="Texto"><br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/ChangerInconsistencyAlbum.jpg' %}" alt="Álbum Inconsistency" class="materialboxed">Inconsistency EP - 2001<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/ChangerSept2001Demo.jpg' %}" alt="Álbum demo Sept" class="materialboxed">Sept 2001 Demo - 2001<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/changerRehearsalDemo.png' %}" alt="Álbum Rehearsal demo" class="materialboxed">Rehearsal Demo - 2002 <br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/changerScenes.jpg' %}" alt="Álbum Scenes" class="materialboxed">Scenes - 2004<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/changerDemo.png' %}" alt="Álbum Demo" class="materialboxed">
					Demo - 2005<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/changerBreedTheLies.jpg' %}" alt="Álbum changer Breed TheLies" class="materialboxed">
					Breed the lies EP - 2006 <br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/changerDarkling.jpg' %}" alt="Álbum Darkling" class="materialboxed">
					Darkling - 2010<br>
				</p>
			</div><br>
			<p class="Texto">
				Rökkurró<br><br>
				<span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">R</span>ökkurró é uma banda fundada em 2006 em Reykjavík . Depois de um EP de 4 faixas, eles assinaram com o selo 12 Tónar .  Seu álbum de estreia foi <b>Það kólnar í kvöld</b> .. (que significa "It's Getting Colder Tonight" em islandês). Foi lançado em 2007 na Islândia, Europa e Japão com grande aclamação da crítica, seguido por uma turnê local na Islândia e uma turnê internacional que incluiu Alemanha, Holanda e Suíça, apoiando Ólafur Arnalds . O álbum seguinte <b>Í Annan Heim(que significa In Another World)</b> foi lançado em 2010. Foi produzido por Alex Somers. Rökkurró começou a trabalhar em seu terceiro álbum de estúdio, Innra, em 2013, lançado em 27 de outubro de 2014.
				<div class="row">
					<div class="col s12"></div>
					<div class="col s12 m4 l1"></div>
					<div class="col s12 m4 l10">
						<img class="img-principal" src="{% static 'img/Bandas_Islandia/rokkurro.png' %}" alt="Banda Rökkurró">
						<p class="Texto">Divulgação : Facebook</p>
					</div>
					<div class="col s12 m4 l1"></div>
				</div>
			</p>
			<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
				<li class="tab Texto"><a href="#test5"><i class="fa fa-users"></i>&nbsp;Membros</a></li>
				<li class="tab Texto"><a href="#test6"><i class="fa fa-record-vinyl"></i>&nbsp;Discografia</a></li>
			</ul>
			<div id="test5" class="col s12">
				<p class="Texto">
					<i class="fa fa-drum"></i>&nbsp;Axel Ingi Jónsson - Bateria e guitarra <br>
					<i class="fa fa-guitar"></i>&nbsp;Árni Þór Árnason - Guitarra e sintetizador <br>
					<i class="fa fa-drum-steelpan"></i>&nbsp;Björn 'Bibbi' Pálmi Pálmason - Bateria e piano <br>
					<i class="fa fa-microphone-alt"></i>&nbsp;Helga Ragnarsdóttir - Teclado e backing vocal<br>
					<i class="fa fa-microphone"></i>&nbsp;Hildur Kristín Stefánsdóttir - Voz e sintetizador <br>
					<i class="fa fa-guitar"></i>&nbsp;Skúli Agnarr Einarsson - Baixo
				</p>
				<br><br>
			</div>
			<div id="test6" class="col s12">
				<p class="Texto"><br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/rokkurroAlbumTwo.png' %}" alt="Álbum Two" class="materialboxed">
					Það kólnar í kvöld.. - 2007<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/rokkurroAlbumThree.png' %}" alt="Álbum Three" class="materialboxed">
					Í Annan Heim - 2010<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/RökkurróInra.jpg' %}" alt="Álbum Inra" class="materialboxed">
					Innra - 2014<br>
				</p>
			</div>
			<br>
			<p class="Texto">
				The Vintage Caravan<br><br>
				<span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">É</span> uma banda de rock de Álftanes , Islândia de clássico rock, proto metal e rock progressivo . A banda foi formada em 2006 por Óskar Logi Ágústsson e Guðjón Reynisson antes do baixista Alexander Örn Númason se juntar após o primeiro álbum de estúdio . Houve apenas uma mudança de formação desde a fundação da banda, quando Stefán Ari Stefánsson substituiu Guðjón Reynisson na bateria em 2015. A banda lançou três álbuns de estúdio. <br><br>
				Em 2006, os amigos de escola Óskar Logi Ágústsson (guitarra e voz) e Guðjón Reynisson (bateria) formaram a banda. O trabalho sério só começou em 2009 e em dois anos a banda publicou seu primeiro álbum chamado "The Vintage Caravan". <br><br>
				Em 2012, o The Vintage Caravan assinou um contrato com a gravadora islandesa Sena antes de trabalhar para seu segundo álbum. Alexander Örn Númason entrou logo depois no baixo . Um segundo intitulado Voyage foi lançado em 2012. Depois eles  assinaram com a Nuclear Blast depois do lançamento de Voyage . Isso levou a um videoclipe Expand Your Mind produzido e lançado pela gravadora alemã. Em julho de 2015, o vídeo atingiu 400.000 acessos no YouTube tornando-se a música online mais vista pela banda.<br> 
				<div class="row">
					<div class="col s12"></div>
					<div class="col s12 m4 l1"></div>
					<div class="col s12 m4 l10">
						<img class="img-principal" src="{% static 'img/Bandas_Islandia/TheVintageCaravan.jpg' %}" alt="Banda The Vintage Caravan">
						<p class="Texto">Divulgação : Facebook</p>
					</div>
					<div class="col s12 m4 l1"></div>
				</div>
			</p>
			<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
				<li class="tab Texto"><a href="#test7"><i class="fa fa-users"></i>&nbsp;Membros</a></li>
				<li class="tab Texto"><a href="#test8"><i class="fa fa-record-vinyl"></i>&nbsp;Discografia</a></li>
			</ul>
			<div id="test7" class="col s12">
				<p class="Texto">
					<i class="fa fa-microphone"></i>&nbsp;Óskar Logi Ágústsson - Guitarras e vocal principal <br>
					<i class="fa fa-guitar"></i>&nbsp;Alexander Örn Númason - baixo e backing vocal <br>
					<i class="fa fa-drum"></i>&nbsp;Stefán Ari Stefánsson - bateria 
				</p>
				<br><br>
			</div>
			<div id="test8" class="col s12">
				<p class="Texto"><br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/TheVintageCaravanVoyage.png' %}" alt="Álbum The Vintage Caravan" class="materialboxed">
					Voyage - 2014<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/TheVintageCaravanArrival.png' %}" alt="Álbum Arrival" class="materialboxed">
					Arrival - 2015<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/TheVintageCaravanGateways.png' %}" alt="Álbum Gateways" class="materialboxed">
					Gateways - 2018<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/TheVintageCaravanFirst.png' %}" alt="Álbum First" class="materialboxed">
					The Vintage Caravan - 2018<br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/TheVintageCaravanMonuments.jpg' %}" alt="Álbum Monuments" class="materialboxed">
					Monuments - 2021
				</p>
			</div>
			<br>
			<p class="Texto">
				JFDR<br><br>
				<span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">J</span>ófríður Ákadóttir nascida em 4 de agosto de 1994 é uma cantora, compositora e multi-instrumentista islandesa conhecida por seu projeto solo <b>JFDR</b> de eletrônico e folk. Ela fez  trabalhos no <b>Samaris</b>, <b>Pascal Pinon</b> e <b>Gangly</b>. Seu pai é o compositor e músico islandês Áki Ásgeirsson. <br><br>

				No Samaris <b>Jófríður</b>, Áslaug Rún Magnúsdóttir e Þórður Kári Steinþórsson formaram a Samaris em 2011. O grupo venceu a competição de Músíktilraunir islandês em 2011 e seguiu este sucesso com o lançamento automático do EP <b>Hljóma Þú</b>, que então ganhou o prêmio Kraumur islandês em 2011 . Um outro EP auto-lançado, Stofnar falla , veio em 2012. O grupo assinou com a One Little Indian Records e seu álbum de estreia autointitulado foi lançado em julho de 2013 com críticas geralmente favoráveis. O álbum combinou suas composições com letras tiradas de poemas islandeses do século 19. Samaris lançou <b>Silkidrangar</b> em 2014, Silkidrangar Sessions em 2015 e Black Lights em 2016. <br><br>
				
				Já no <b>Pascal pinon</b>, em 2009, quando eles tinham 14 anos, <b>Jófríður</b> e sua irmã gêmea Ásthildur (junto com Halla Kristjánsdóttir e Kristín Ylfa Hólmgrímsdóttir) formaram o grupo. Eles lançaram seu primeiro álbum de produção própria, Pascal Pinon, em 2009, que foi relançado pelo selo Morr Music em 2010. Foi descrito por Allmusic como "um álbum verdadeiramente adorável". Em 2013 o grupo, agora uma dupla, lançou seu segundo álbum <b>Twosomeness</b> . Um terceiro álbum, <b>Sundur</b> , foi lançado em 2016. E no <b>Gangly</b>, em 2014, Jófríður se juntou no projeto conceitual Gangly com Sindri Már Sigfússon ( Sin Fang ) e Úlfur Alexander Einarsson (da banda islandesa Oyama) lançando inicialmente a faixa Fuck With Someone Else . 
				<div class="row">
					<div class="col s12"></div>
					<div class="col s12 m4 l1"></div>
					<div class="col s12 m4 l10"><br>
						<img class="img-principal" src="{% static 'img/Bandas_Islandia/JFDR_Two.jpg' %}" alt="Banda JFDR">
						<p class="Texto">Divulgação : Facebook</p>
					</div>
					<div class="col s12 m4 l1"></div>
				</div>
			</p>
			<ul class="tabs tabs-fixed-width tab-demo z-depth-1">
				<li class="tab Texto"><a href="#test9"><i class="fa fa-users"></i>&nbsp;Membros</a></li>
				<li class="tab Texto"><a href="#test10"><i class="fa fa-record-vinyl"></i>&nbsp;Discografia</a></li>
			</ul>
			<div id="test9" class="col s12">
				<p class="Texto">
					<i class="fa fa-microphone"></i>&nbsp;Jófríður Ákadóttir - Vocal principal 
				</p>
			</div>
			<div id="test10" class="col s12">
				<p class="Texto"><br>
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/jfdrBrazil.png' %}" alt="Álbum Brazil" class="materialboxed">
					Brazil - 2017
					<img id="img-pequena" src="{% static 'img/Bandas_Islandia/jfdrDreams.png' %}" alt="Álbum Dreams" class="materialboxed">
					New Dreams - 2020
				</p>
			</div>
			<br>
		</div>
		<!-- FIM -->
		<div class="col s12 m4 l3">
			<p class="relacionados">Destaque</p>
			<a href="{% url 'southern-rock' %}"><img src="{% static 'img/souternRock/johnnycash.jpg' %}" alt="Bandas de Southern rock" class="image-relacionados">
			</a>
			<a href="{% url 'southern-rock' %}" style="color: black;">
				<p class="texto-relacionados">
					Pérolas do Southern rock.
				</p>
			</a><br><br>
			<a href="{% url 'Quadrinhos' %}"><img src="{% static 'img/Quadrinhos/quadrinho.png'%}" alt="Quadrinhos" class="image-relacionados">
			</a>
			<a href="{% url 'Quadrinhos' %}" style="color: black;">
				<p class="texto-relacionados">
					Quadrinhos que você tem que conhecer
				</p>
			</a>
		</div>
	</div>
</div>
{%endblock%}