{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
{%block google%}{{block.super}}{%endblock%}
<title>
{% block title %}ForAll - Quadrinhos{% endblock%}
</title>
<!-- style para os H1 e H2 --> 
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
	.Texto{font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;padding: 0;margin: 0;}
	.relacionados{font-family: Times New Roman;font-size: 17px;font-weight: bold;color: #03262C;}
	.image-relacionados{width: 23%;height: 60px;border-radius: 5px;padding: 0px;}
	.texto-relacionados{font-family: Times New Roman;font-size: 14px;float: right;margin-top: -15px;margin: 0;color: gray;}
	.img-principal{width: 100%;height: 400px;border-radius: 3px;}
	#tamanho{width: 100%;height: 300px;}
	.ficha{font-family: Times New Roman;font-size: 17px;text-align: justify;color: gray;text-align: center;}
	.subFicha{font-family: Times New Roman;ba;font-size: 16px;text-align: left;color: gray;margin: 0;}
</style>

<div class="container-fluid">
	<!-- CONTAINER PARA PROPAGANDAS -->
	<br><br>
	<div class="row">
		<div class="col s12 m6 l3"></div>
		<div class="col s12 m12 l6">
			
		</div>
		<div class="col s12 m6 l3">
			
		</div>
	</div>
</div><br>

<div class="container-fluid">
	<div class="row">
		<div class="col s12 m4 l3">
			<p class="relacionados">Redação</p>
			<a href="{% url 'banda-irlandesa' %}"><img src="{% static 'img/Bandas_Islandia/JFDR_Two.jpg'%}" class="image-relacionados" alt="Bandas da Islândia">
			</a>
			<a href="{% url 'banda-irlandesa'%}" style="color: black;">
				<p class="texto-relacionados">
					5 bandas islandesas
				</p>
			</a><br><br>
			<a href="{% url 'breve-historia' %}"><img src="{% static 'img/thin.jpg'%}" alt="Banda Thin Lizzy" class="image-relacionados">
			</a>
			<a href="{% url 'breve-historia' %}" style="color: black;">
				<p class="texto-relacionados">
					Thin Lizzy, uma breve história
				</p>
			</a><br><br>
		</div>
		<div class="col s12 m4 l6">
			<p class="breadcrumb-item">
				<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
				<i class="fas fa-angle-right"></i>
				3 Revistas em quadrinhos que você tem que conhecer<br>
			</p>
			<h1 class="titulo">Quadrinhos</h1>
			<h2 class="subtitulo">3 Revistas em quadrinho que você tem que conhecer</h2><br>
			<p class="Texto">ForAll | Redação<br><br></p> 
			<img class="img-principal" src="{% static 'img/Quadrinhos/quadrinho.png' %}" alt="Logo quadrinhos">
			<br><br>  
			<p class="Texto">
				O mundo da leitura é um mundo extraordinário. Disto isto, podemos dizer que uma das ferramentas mais usadas para a introdução de um jovem ao mundo da leitura é os quadrinhos, pelo menos é o que constatamos ao interagimos com pessoas de nossa roda de amigos, que apreciam um bom livro.<br><br>

				Claro que temos que ser mais atenciosos a expor esta afirmação, mas sem sombra de dúvida alguém que folhear um bom livro na idade adulta, já foi um leitor voraz de revistas em quadrinho. Por isso, que aqui no ForAll vamos indicar 3 histórias em quadrinhos clássicas. Se divirta!
			</p><br>

			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'img/Quadrinhos/zagor.png' %}" alt="Zagor" id="tamanho">
					</div>
					<div class="card-content">
						<p class="ficha">
							Ficha Técnica<hr>
						</p>
						<p class="subFicha">
							<b>Nome</b>:
							Zagor<br> 
							<b>Criador</b>: Sergio Bonelli <br>
							<b>Origem</b>: Darkwood, EUA<br>
							<b>Criado</b>: 30 de setembro de 1961
						</p>
					</div>
				</div>
			</div>

			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'img/Quadrinhos/forcaPsi.png' %}" alt="Força Psi" id="tamanho">
					</div>
					<div class="card-content">
						<p class="ficha">
							Ficha Técnica<hr>
						</p>
						<p class="subFicha">
							<b>Nome</b>:
							Força Psi<br> 
							<b>Criador</b>: Archie Goodwin, Walt Simonson<br>
							<b>Origem</b>: EUA<br>
							<b>Criado</b>: 	Entre 1986 e 1989
						</p>
					</div>
				</div>
			</div>

			<div class="col s12 m6 l4">
				<div class="card">
					<div class="card-image">
						<img src="{% static 'img/Quadrinhos/texWiiler.png' %}" alt="Tex Willer" id="tamanho">
					</div>
					<div class="card-content">
						<p class="ficha">
							Ficha Técnica<hr>
						</p>
						<p class="subFicha">
							<b>Nome</b>:
							Tex 
							<br> 
							<b>Criador</b>: Gian Luigi Bonelli, Aurelio Galleppini<br>
							<b>Origem</b>: Itália<br>
							<b>Criado</b>: 	Entre 1948
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col s12 m4 l3">
			<p class="relacionados">Destaque</p>
			<a href="{% url 'dicas' %}"><img src="{% static 'img/kingC.png'%}" alt="Banda king Crimson" class="image-relacionados">
			</a>
			<a href="{% url 'dicas' %}" style="color: black;">
				<p class="texto-relacionados">
					King Crimson
				</p>
			</a><br><br>
			<a href="{% url 'Bob_Mould' %}"><img src="{% static 'img/Tutorial/BobMould/Bob.jpg'%}" alt="Cantor Bob Mould" class="image-relacionados">
			</a>
			<a href="{% url 'Bob_Mould' %}" style="color: black;">
				<p class="texto-relacionados">
					Matéria especial.
				</p>
			</a><br><br>
		</div>
	</div>
</div>
{%endblock%}