{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
{%block google%}{{block.super}}{%endblock%}
<title>
{% block title %}ForAll - Nosso Drops, com a banda Buffalo{% endblock%}
</title>
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
	.relacionados{font-family: Times New Roman;font-size: 17px;font-weight: bold;color: #03262C;}
	.image-relacionados{width: 23%;height: 60px;border-radius: 5px;padding: 0px;}
	.texto-relacionados{font-family: Times New Roman;font-size: 14px;float: right;margin-top: -15px;margin: 0;color: gray;}
	.img-principal{width: 100%;height: 400px;border-radius: 3px;}
	.Texto{font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;padding: 0;margin: 0;}
</style>
<div class="container-fluid">
	<!-- CONTAINER PARA PROPAGANDAS -->
	<br><br>
	<div class="row">
		<div class="col s12 m6 l3"></div>
		<div class="col s12 m12 l6">
			
		</div>
		<div class="col s12 m6 l3"></div>
	</div>
</div><br>
<div class="container-fluid">
	<div class="row">
		<div class="col s12 m4 l3">
			<p class="relacionados">Relacionados</p>
			<a href="{% url 'power-metal-bandas' %}"><img src="{% static 'img/powermetal/gammaray.jpg'%}" alt="5 Bandas de Power Metal" class="image-relacionados">
			</a>
			<a href="{% url 'indicacao' %}" style="color: black;">
				<p class="texto-relacionados">
					5 Bandas de Power Metal
				</p>
			</a><br><br>
			<a href="{% url 'breve-historia' %}"><img src="{% static 'img/thin.jpg'%}" alt="Banda Thin Lizzy" class="image-relacionados">
			</a>
			<a href="{% url 'breve-historia' %}" style="color: black;">
				<p class="texto-relacionados">
					Thin Lizzy, uma breve história
				</p>
			</a><br><br>
		</div>
		<div class="col s12 m4 l6">
			<p class="breadcrumb-item">
				<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
				<i class="fas fa-angle-right"></i>
				Você conhece o Buffalo ?
			</p>
			<img class="img-principal" src="{% static 'img/Drops/buffaloBand.png' %}" alt="Banda Buffalo">
			<p style="color: #A9A9A9;margin: 0;font-size: 15px;font-family: Times New Roman;">Créditos / Facebook </p>
			<br>
			<h1 class="titulo">Você conhece o Buffalo ?</h1>
			<h2 class="subtitulo">Aqui vamos apresenta-los, se divirta !!!</h2><br>
			<p class="Texto">
				ForAll | Redação<br>
				<br><span style="font-size: 2rem;font-weight: bold;
				color: gray;font-family: Times New Roman;">S</span>em sombra de dúvidas a Austrália é um país de muitas bandas de rock mundialmente
				conhecidas dentre elas está o ACDC, mas fora dos holofotes mundiais existem várias
				outras bandas de enorme talento na Austrália e que não galgam os mesmos louros do
				sucesso em âmbito mundial entre elas está a banda Buffalo. <br><br>
				
				Buffalo foi uma banda australiana de hard rock formada em agosto de 1971 em
				Sydney, por Dave Tice como co-vocalista (ex-Head) em conjunto com os outros integrantes
				do Head Paul Balbi na bateria, John Baxter na guitarra e Peter Wells no baixo. Tice e
				Wells estavam juntos em grupos desde 1966 com The Odd Colors e Strange Brew antes
				de formar o Head em 1968. Head havia-se mudado para Sydney em meados de 1970, sua
				formação mudou com a aquisição de Alan Milano nos vocais co-lead (ex-Mandala) e uma
				nova direção musical levou à mudança de nome. <br><br>
				
				Buffalo foi escolhido (de acordo com a
				lenda, aleatoriamente em um mapa australiano) como sendo mais comercializável do que
				'Head', com suas conotações sexuais e de drogas. Ao lado de Billy Thorpe & The Aztecs e
				Blackfeather , Buffalo foi pioneira nos movimentos de heavy metal , pub rock e rock
				alternativo da Austrália . Buffalo foi a primeira banda de rock australiana a assinar com a
				Vertigo Records , no entanto, eles permaneceram em grande parte como uma banda
				underground . Buffalo se separou em março de 1977, quando Tice viajou para Londres para
				se juntar ao grupo de rock local, The Count Bishops, ao lado de seu ex-colega de banda,
				Balbi.
			</p>
			<br><br>
			<i class="Tiny material-icons">insert_chart</i>&nbsp;<b style="font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;margin: 0;"> Álbum Volcanic rock</b> de 1973:
			<br><br>
			<iframe src="https://open.spotify.com/embed/artist/39zY86ZTwRfoLTVJpJVU9r" width="100%" height="380px" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			<br>
			<hr>
		</div>
		<div class="col s12 m4 l3">
			<p class="relacionados">Destaque</p>
			<a href="{% url 'Artistas-brasileiros' %}"><img src="{% static 'img/ArtistasBrasileiros/FloraPurimEairtonMoreira.jpg'%}" alt="Cantores Flora Puin e Airton Moreira" class="image-relacionados">
			</a>
			<a href="{% url 'Artistas-brasileiros' %}" style="color: black;">
				<p class="texto-relacionados">
					Músicos Brasileiros
				</p>
			</a><br><br>
			<a href="{% url 'Quadrinhos' %}"><img src="{% static 'img/Quadrinhos/quadrinho.png'%}" alt="Quadrinhos" class="image-relacionados">
			</a>
			<a href="{% url 'Quadrinhos' %}" style="color: black;">
				<p class="texto-relacionados">
					Quadrinhos que você tem que conhecer
				</p>
			</a><br><br>
		</div>
	</div>
</div>
{%endblock%}
