{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
{%block google%}{{block.super}}{%endblock%}
<title>
{% block title %}ForAll - Alicerces do Blues: Willie Lee Brown{% endblock%}
</title>
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
	.Texto{font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;padding: 0;margin: 0;}
	.relacionados{font-family: Times New Roman;font-size: 17px;font-weight: bold;color: #03262C;}
	.image-relacionados{width: 23%;height: 60px;border-radius: 5px;padding: 0px;}
	.texto-relacionados{font-family: Times New Roman;font-size: 14px;float: right;margin-top: -15px;margin: 0;color: gray;}
	.img-principal{width: 100%;height: 400px;border-radius: 3px;}
</style>

<div class="container-fluid">
	<!-- CONTAINER PARA PROPAGANDAS -->
	<br><br>
	<div class="row">
		<div class="col s12 m6 l3"></div>
		<div class="col s12 m12 l6">
			
		</div>
		<div class="col s12 m6 l3"></div>
	</div>
</div><br>
<div class="container-fluid">
	<div class="row">
		<div class="col s12 m4 l3">
			<p class="relacionados">Relacionados</p>
			<a href="{% url 'Segunda-resenha' %}"><img src="{% static 'img/jimmiPreston.jpg' %}" alt="Cantor Jimmy Preston" class="image-relacionados">
			</a>
			<a href="{% url 'Segunda-resenha' %}" style="color: black;">
				<p class="texto-relacionados">
					Jimmy Preston
				</p>
			</a><br><br>
			<a href="{% url 'Terceira-resenha' %}"><img src="{% static 'img/robert.jpg' %}" alt="Cantor Robert Johnson" class="image-relacionados">
			</a>
			<a href="{% url 'Terceira-resenha' %}" style="color: black;">
				<p class="texto-relacionados">
					Robert Johnson
				</p>
			</a>
		</div>
		<div class="col s12 m4 l6">
			<p class="breadcrumb-item">
				<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
				<i class="fas fa-angle-right"></i>
				Willie Lee Brown
			</p>
			<img class="img-principal" src="{% static 'img/WillieBrown.jpg' %}" alt="Cantor Willie Brown">
			<p class="Texto"> Créditos / Facebook </p><br>
			<br><br>
			<h1 class="titulo">Willie Lee Brown</h1> 
			<p class="Texto">
				ForAll | Redação<br><br>
				<b>Willie Lee Brown</b>, nascido em 6 de agosto de 1900 também conhecido como Willie Brown foi um dos magos do blues do Delta do Mississipi, junto com Som House e Charlie Patton influenciou vários outros notáveis do blues como, Robert Johnson e Muddy Waters. Ele foi mais conhecido como side player, acompanhando Son House,  Charlie Patton e Robert Johnson. Em 1930 Willie Brown gravou seis lados para a gravadora Paramount Records, onde foram relançados posteriormente.  No ano de 1941 Brown gravou três faixas para a Biblioteca do Congresso, sempre na companhia do bluesman Son House. Apesar de ser um músico acompanhante Willie Brown ainda pode gravar três apresentações autorais, são elas: “M & Blues”,” Make Me a Pallet on the floor” e “Future Blues”, sendo que após este trabalho Willie Brown desapareceu do cenário em meados de 1940.<br><br>

				Curiosamente nas décadas seguintes aos anos 40, o blues esteve condicionado ao underground musical, mas através dos bluemans o estilo renasceu na década de 1960.  Infelizmente Brown morreu de doença cardíaca na cidade de Tunica, Mississípi no ano de 1952, com seus 52 anos de idade, mas deixou seu legado no blues, onde junto com músicos aqui mencionados ajudou a difundi o estilo.  
				<br><br>
			</p>
			<iframe width="100%" height="315" src="https://www.youtube.com/embed/_WREOMLH2uI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="col s12 m4 l3">
			<p class="relacionados">Destaque</p>
			<a href="{% url 'redacao' %}"><img src="{% static 'img/fontainesDC.jpg'%}" alt="Banda Fontaines DC" class="image-relacionados">
			</a>
			<a href="{% url 'redacao' %}" style="color: black;">
				<p class="texto-relacionados">
					A Poesia irlandesa.
				</p>
			</a><br><br>
			<a href="{% url 'breve-historia' %}"><img src="{% static 'img/thin.jpg'%}" alt="Banda Thin Lizzy" class="image-relacionados">
			</a>
			<a href="{% url 'breve-historia' %}" style="color: black;">
				<p class="texto-relacionados">
					Thin Lizzy, uma breve história
				</p>
			</a>
		</div>
	</div>
</div>
{%endblock%}
