{% extends "./Base/base.html" %}
{% load static %}
{% block content %}
{%block google%}{{block.super}}{%endblock%}
<title>
{% block title %}ForAll - Alicerces do Blues: Charley Patton{% endblock%}
</title>
<!-- style para os H1 e H2 -->
<style type="text/css">
	.titulo{padding: 0;margin: 0;font-family: Times New Roman;}
	.subtitulo{padding: 9px;margin: 0;font-family: Times New Roman;font-size: 30px;color: gray;}
	.breadcrumb-item{font-family: Times New Roman;font-size: 15px;margin: 0px;padding: 10px;color: gray;list-style: none;}
	.cores{color: black;font-weight: bold;}
	.Texto{font-family: Times New Roman;font-size: 16px;text-align: justify;color: gray;padding: 0;margin: 0;}
	.relacionados{font-family: Times New Roman;font-size: 17px;font-weight: bold;color: #03262C;}
	.image-relacionados{width: 23%;height: 60px;border-radius: 5px;padding: 0px;}
	.texto-relacionados{font-family: Times New Roman;font-size: 14px;float: right;margin-top: -15px;margin: 0;color: gray;}
	.img-principal{width: 100%;height: 400px;border-radius: 3px;}
</style>

<div class="container-fluid">
	<!-- CONTAINER PARA PROPAGANDAS -->
	<br><br>
	<div class="row">
		<div class="col s12 m6 l3"></div>
		<div class="col s12 m12 l6">
			
		</div>
		<div class="col s12 m6 l3"></div>
	</div>
</div><br>

<div class="container-fluid">	
	<div class="row">
		<div class="col s12 m4 l3">
			<p class="relacionados">Relacionados</p>
			<a href="{% url 'Segunda-resenha' %}"><img src="{% static 'img/jimmiPreston.jpg' %}" alt="Cantor Jimmy Preston" class="image-relacionados">
			</a>
			<a href="{% url 'Segunda-resenha' %}" style="color: black;">
				<p class="texto-relacionados">
					Jimmy Preston
				</p>
			</a><br><br>
			<a href="{% url 'Terceira-resenha' %}"><img src="{% static 'img/robert.jpg' %}" alt="Cantor Robert Johnson" class="image-relacionados">
			</a>
			<a href="{% url 'Terceira-resenha' %}" style="color: black;">
				<p class="texto-relacionados">
					Robert Johnson
				</p>
			</a>
		</div>
		<div class="col s12 m4 l6">
			<p class="breadcrumb-item">
				<a href="/" class="cores"><i class="fa fa-reply"></i>&nbsp;Página Inicial</a>:
				<i class="fas fa-angle-right"></i>
				Charley Patton
			</p>
			<img class="img-principal" src="{% static 'img/charlie.jpg' %}" alt="Cantor Charley Patton">
			<p class="Texto"> Créditos / Facebook </p><br>
			<br>
			<h1 class="titulo">Charley Patton</h1> 
			<p class="Texto">
				ForAll | Redação<br><br>
				O Blues rural que era feito no Delta do Mississípi, muito antes dos anos de reconhecimento do blues, que foi na década de 60, era repleto de artistas maravilhosos, dentre eles estava <b>Charley Patton</b> ou simplesmente Charlie, nascido supostamente no ano de 1891, no Condado de Hinds, Mississípi. cantor e guitarrista Patton foi uns dos primeiros guitarristas a influência vários outros artista do Delta do Mississípi. Ele foi casado com Bertha Lee.  Patton passou a maior parte da vida no Delta, pelos anos de 1900, onde trabalhava em plantações de algodão no condado de Sunflower. Onde lá com outros artistas do blues, como Willie Brown e Tommy Johnson se reuniam para criar músicas, harmonias e ideias. <br><br>

				Uma das características da música de Patton foi as canções populares, que eram apreciadas por dançarinos em festas organizadas em barracões rurais. Ele gravou 70 músicas, sempre com sua voz grave e as vezes incompreensível, acompanhado com um violão acústico de afinação percussiva. Em suas gravações mais famosas estão “Pony Blues”, “Down the Dirt Road”, “Shake It and Break It”, “Water Everywhere” e “Moon Going Down”, e até música gospel ele gravou, com tudo isso sua popularidade só cresceu ao longo de sua carreira.   Até hoje, Patton é considerado o “Pai do Delta blues”, para se ter ideia, muito antes do formidável Jimi Hendrix abalar seus espectadores com um modo peculiar de tocar guitarra, Patton já era um showman, tocando com os joelhos e atrás de sua cabeça ou nas costas, através destes fatos não se pode nega que Charley Patton foi dos músicos mais populares dos Estados Unidos.  <br><br>

				Patton deixou seu legado na música blues, e também em outros gêneros que “bebem” da fonte do blues como o Rock and roll.  Seu reconhecimento veio no ano de 2003, através do Screamin ‘eo Hollerin’ The Blues: The Worlds of Charley Patton, é um box set das obras gravadas de Charley Patton, ganhando três Grammy Awards de melhor álbum da História, Best Boxed ou Special Limited Editi on Package. <br><br>

				Patton faleceu em 28 de abril de 1934 de insuficiência cardíaca, sendo enterrado em Holly Ridge, como as custas do enterro pagas por um artista da época John Fogerty . A vários boatos sobre a autenticidade da foto colocada em seu túmulo, alguns dizem que existia apenas uma fotografia, e que ela é de propriedade de um colecionado chamado John Tefteller. Apesar de todas as façanhas artísticas de Charley Patton sua morte não fora anunciada em jornais da época. <br><br>

				Esta foi uma síntese do artística que foi Patton, sendo um dos percursores da música blues, que apesar de pouco recursos técnicos conseguiu impor uma maneira de tocar, e emociona a todos com a atitude e a força de sua música.   
			</p>
		</div>
		<div class="col s12 m4 l3">
			<p class="relacionados">Destaque</p>
			<a href="{% url 'Nada-trivial-jonathan-hulten' %}"><img src="{% static 'img/nadatrivial/jonathan_hunten.jpg'%}" class="image-relacionados" alt="Jonathan Hultén">
			</a>
			<a href="{% url 'Nada-trivial-jonathan-hulten' %}" style="color: black;">
				<p class="texto-relacionados">
					Nada Trivial, Jonathan Hultén
				</p>
			</a><br><br><br>
			<a href="{% url 'power-metal-bandas' %}"><img src="{% static 'img/powermetal/helloween.jpg'%}" class="image-relacionados" alt="Banda de Power Metal">
			</a>
			<a href="{% url 'power-metal-bandas' %}" style="color: black;">
				<p class="texto-relacionados">
					5 bandas de Power Metal alemão que <br>você tem que conhecer.
				</p>
			</a>
		</div>
	</div>
</div>
{%endblock%}